.action {
  height: 3rem;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  border-spacing: 1rem 1rem;
  margin-bottom: 1rem;

  .action-syntax {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: rgba(0,0,0,0.7)
  }
  
  input[type="text"], input[type="number"], select {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0 15px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    text-align: center;
    width: 12rem;
  }
}

.action-if {
  display: table;

  .condition, .sub-actions {
    display: table-row;
  }

  .sub-actions {
    padding: 1rem;

    button {
      padding: 1rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
      border-radius: 4px;
      border: none;
      background-color: rgba(0,0,0,0.1);
    }
  }

  .sub-condition {
    text-align: left;
  }
}